* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  padding: 13px;
  height: 100%;
}

.wrapper aside {
  padding:  4px 18px;
}

.wrapper aside {
  width: 260px;
  background: #000;
  color: #fff;
}

.wrapper main {
  flex: 1;
}

form div {
  padding: 10px;
}

#row-num {
  width: 30px;
}

.board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #eee;
  padding: 8px;
}

.box {
  background: tomato;
  /* 8px padding from .board * 2 */
  width: calc((100% - 16px) / 3);
  height: calc((100% - 16px) / 3);
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
}

.box:hover {
  cursor: pointer;
}